.file-upload {
    border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;  
}
.file-upload + label {
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 2rem;
    line-height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: background-color 0.3s;
  }
   
  .file-upload:focus + label,
  .file-upload + label:hover {
      background-color: #2241f1;
  }
   
  .file-upload:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

.butt{
  width:"100%";
}

Avatar{
  width: "100px";
  height: "100px";
}